<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelpSenseOfDirection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E83514F1EF57E7C004E162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8351631EF57E7C004E162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E83516E1EF57E7C004E162C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
